[2017-03-26 19:10] amro1435 opened #1 "Issue app download"
The app can't be downloaded.

[2017-03-26 20:41] skyguy126 commented on #1
@amro1435 I assume you mean from the xposed installer, it works fine for me. Could you provide a few more details regarding your issue?

[2017-03-27 04:33] amro1435 commented on #1
Every time I try to download the module it shows error 404 and when i try to download it from the website directly it shows"page not found,  The requested page "/xposed/files/modules/com.skyguy126.soundclouddownloader_v1_050ef5.apk" could not be found.
P.S.
If you need some screenshots tell me any way to send them to you.

[2017-03-27 05:00] skyguy126 commented on #1
@amro1435 I think it may be my fault, I accidently double clicked the button when adding it to the Xposed repository and it may have glitched the system. I already emailed them, just waiting for a response at this point. In the meantime try downloading it from here (github releases, same apk) https://github.com/skyguy126/Xposed-SoundCloudDownloader/releases  and let me know if it works.

[2017-03-27 05:05] amro1435 commented on #1
I've tried now to it from the link you sent and it works flawlessly..!!
Thank you a lot..!!

[2017-03-27 05:06] skyguy126 commented on #1
Glad to hear! I hope to have the repository issue sorted out soon.

[2017-03-27 05:06] #1 closed

[2017-03-27 20:28] iammanpreetsachdeva opened #2 "Not downloading"
Showing error.. 404. Download failed.
Device: OnePlus X
Root status: Ok
Battery: 36%

[2017-03-27 21:31] skyguy126 commented on #2
@iammanpreetsachdeva From #1; "I think it may be my fault, I accidently double clicked the button when adding it to the Xposed repository and it may have glitched the system. I already emailed them, just waiting for a response at this point. In the meantime try downloading it from here (github releases, same apk) https://github.com/skyguy126/Xposed-SoundCloudDownloader/releases and let me know if

[2017-03-28 02:45] #2 closed

[2017-03-28 04:58] skyguy126 commented on #1
@amro1435 I tried something with the Xposed Repository, could you try downloading it from the xposed installer and tell me if it works, please. Thanks!

[2017-03-28 05:03] amro1435 commented on #1
I've​ tried now and it still showing the same error (error 404);when i try to download from the app of xposed.
So I've tried to access to the repository page but now it shows this:
Access denied
You are not authorized to access this page.

[2017-03-28 05:09] skyguy126 commented on #1
@amro1435 thanks for the info, i guess ill just have to wait and see.

[2017-03-28 05:33] amro1435 commented on #1
You're welcome @skyguy126

[2017-03-28 18:25] amro1435 commented on #1
@skyguy126 I've tried to download it now and it has been downloaded successfully..!!

[2017-03-28 22:04] skyguy126 commented on #1
Removed and reuploaded it, everything should work fine now.

[2017-03-29 18:12] feeduart opened #3 "Dont download"
When i did the download appear the message: write access denied, grant e retry!

Mobile: Lenovo Vibe A7010/ K4 note
Root: OK
OS: LineageOS 13

[2017-03-29 18:34] skyguy126 commented on #3
@feeduart This error means that the app (Soundcloud not the Xposed module) doesn't have permission to write to your phone's external storage. Usually you can enable it through Privacy Guard (found in settings) and if you hold down the app icon and drag it to `App info`, then click permissions. Make sure the Storage option is turned on.

I will try and make the error more descriptive in the next up

[2017-03-29 18:58] #3 closed

[2017-03-29 19:05] feeduart commented on #3
Thank you very much.

[2017-03-30 01:52] KaMyKaSii opened #4 "Spotify"
Any possibility to do some similar module for Spotify?

[2017-03-30 01:54] skyguy126 commented on #4
@KaMyKaSii I personally don't use Spotify so I'm not too sure. Really depends if the source code isn't too obfuscated and if they have checks against downloading it like that.

[2017-03-30 02:03] KaMyKaSii commented on #4
@skyguy126 I think downloading is impossible, they should have great protection against this. But the files are cached in the device, but encrypted. Would a module be able to capture audio from Spotify's memory after being decrypted and reproduced?
![screenshot_20170329-230206](https://cloud.githubusercontent.com/assets/17092335/24484297/d8493438-14d3-11e7-97e6-9d2f22ee3a91.png)

[2017-03-30 02:07] skyguy126 commented on #4
@KaMyKaSii Not 100% sure will have to take a look at the source code first. That being said I'm sure its 100% possible to implement, the question is if it is viable to do it a certain way or not. Looking at sources right now will get back to you.

[2017-03-30 02:11] KaMyKaSii commented on #4
@skyguy126 All right, thank you very much! Please inform me of any news

[2017-03-30 02:24] skyguy126 commented on #4
@KaMyKaSii Code seems pretty heavily obfuscated unfortunately

[2017-03-30 02:31] KaMyKaSii commented on #4
@skyguy126 Did you look at the source code? Decompiling apk in Java code does not help in anything?

[2017-03-30 02:34] skyguy126 commented on #4
@KaMyKaSii I did decompile the apk, you can view it yourself if you'd like. Pull the apk from your phone to your computer. Extract `classes.dex` from the apk using 7zip or any other program. Run it through `dex2jar` and view the output jar file in `jdgui` or any other decompilation program.

[2017-03-30 02:49] KaMyKaSii commented on #4
@skyguy126 use a module like InstallerOpt to make all applications debuggable and capture a logcat while running a song in Spotify can help in something?

[2017-03-30 02:51] skyguy126 commented on #4
@KaMyKaSii good point, will do

[2017-03-30 03:06] #4 closed

[2017-03-30 03:14] KaMyKaSii commented on #4
@skyguy126 unsuccessfully?

[2017-03-30 03:17] skyguy126 commented on #4
@KaMyKaSii I closed the issue because it does not directly pertain to this module but we can still discuss here in comments. EDIT: also found a few methods that might allow this, will have to test later though.

[2017-03-30 03:52] KaMyKaSii commented on #4
@skyguy126 I'm very happy to hear this. Let me know if you need a tester or anything.

[2017-04-01 00:54] skyguy126 commented on #4
@KaMyKaSii Some news: Found the methods that control the player and successfully hooked them. Still not sure if I am going in the right direction but the next step is to find and extract the track being played (which I think is very possible but again no guarantees).

[2017-04-01 01:28] KaMyKaSii commented on #4
@skyguy126 Wow! Good job! I hope you succeed, it will be a very appreciated module

[2017-04-13 09:58] Artieza opened #5 "SSLHandshakeException with system DownloadManager"
I tried enough times, and your app is always failing.
I used Download Redirection module to get link created by your module in ADM Pro:
https://api-mobile.soundcloud.com/tracks/soundcloud:tracks:248754416/streams/https?client_id=DELETED&oauth_token=DELETED

Then I tried One Tap Video Download which works well with SoundCloud:
https://api.soundcloud.com/tracks/248754416/stream?client_id=DELETED&oau

[2017-04-13 21:10] skyguy126 commented on #5
Yes it works fine for me. Maybe the downloads are blocked in your region? Not too sure what the issue is.

[2017-04-13 21:30] daimoniuma commented on #5
I tried it again. Can't connect via system download manager. ADM can't resolve it too. Seems like api-mobile is blocked for me, if it is working for you. Please, could you add in prefs of the module api.sc.com which is available for me? Didn't know that SoundCloud provides 2 APIs. I remember that there is API v2. Maybe, your API is obsolete v1...

[2017-04-13 21:34] skyguy126 commented on #5
I'm not making any api call myself. I'm simply sending the URL used to stream the song in the official app to the Android download manager instead. Is your SoundCloud app the latest version, any other modules interfering with this one?

If all else fails I will look into adding a modified URL option.

[2017-04-13 21:34] daimoniuma commented on #5
Sorry, but really "/streams/https?" and not "/stream?"? Just strange link. 😑

[2017-04-13 21:37] daimoniuma commented on #5
I use One Tap. I told you. It have hook for SoundCloud. But it just link listener. It shouldn't change anything important. I'll try to disable it. Of course, I'm on latest SC.

[2017-04-13 21:41] skyguy126 commented on #5
This module is also just a link listener. Maybe I can send you a debug version to try later?

[2017-04-13 21:54] daimoniuma commented on #5
No. One Tap was disabled. Just can't connect to your links. 😔 Anyway you see link. Client ID & Token are identical. IDK. Of course you can send debug to me.

[2017-04-18 23:12] Hongsmind opened #6 "Not working? Little help."
"Write access denied, grant and retry"
After I press download that's what error pops up

[2017-04-18 23:13] #6 closed

[2017-05-02 08:33] alizreik-au commented on #6
Hongsmind, did you resolve the issue?
Because I can't seem to get it working.

[2017-05-02 08:39] alizreik-au commented on #6
Never mind, I found the solution in a previous post:
https://github.com/skyguy126/Xposed-SoundCloudDownloader/issues/3

[2017-06-11 03:34] rafirafirafi opened #7 "Storage error"
Can't download, the app tells me not possible to write to destination directory. Even after giving itaccess to storage
Android 6 tested on 2 devices

[2017-06-11 03:41] skyguy126 commented on #7
On cm or los, you have to enable the storage permission in app settings (found when app icon is held down and is dragged to app info) as well as privacy guard (found in the settings menu).

[2017-06-11 03:48] rafirafirafi commented on #7
I am stock Motorola 6.0.1 rooted
Storage is enabled in app properties... I don't have any privacy guard in my settings.

[2017-06-11 04:15] skyguy126 commented on #7
Can you paste the xposed log here

[2017-06-11 17:26] KunalGupta996 commented on #7
It says- Grants permission for writing to external storage and retry.
I am on Lenovo X3a40 6.0.1 rooted cs rom-BETA.. storage is enabled in app permissions. I dont have any external storage.. is there any way of downloading songs to internal storage?
I tried all the options given in the module... it still doesn't work.

[2017-06-12 01:08] skyguy126 commented on #7
The error is a bit misleading, "external storage" refers to the internal storage at `/sdcard/`. Could you post your Xposed log here after the error happens.

[2017-06-13 03:25] rafirafirafi commented on #7
the xposed log contains nothing regarding this error. i think you should remove your test regarding EXTERNALSTORAGE in your code..

[2017-06-13 04:26] skyguy126 commented on #7
This is the part that is doing the check:

[code]
Refer to #3, enabling the permission seems to have fixed it. Removing that piece of code causes the app to crash on Android 6 devices which have the storage permission disabled. The code only exists to show a graceful error message instead of the app crashing all together.

I don't have access to a computer with the build set up so I cannot fix any

[2017-07-07 21:26] KaMyKaSii commented on #4
Hello @skyguy126 not wanting to rush you or something, but some news or progress?

[2017-07-14 11:50] daimoniuma commented on #5
I tried VPN (USA). Same result. In the logcat I found this:
[code]

[2017-07-17 17:02] daimoniuma commented on #5
I tried this links on the notebook. Firefox does it well. Failure in the DownloadManager configuration.

[2017-07-18 06:26] skyguy126 commented on #5
I'll try and add an option to open the download link in browser rather than using download manager (although the browser will inevitably refer back to the download manager but might fix the issue).

[2017-07-23 11:06] daimoniuma commented on #5
I'm not sure how it works on pocket Firefox, but laptop Firefox didn't suggest downloading. It just opened audio streaming in his own player.

Also you didn't escape forbidden symbols for file names. For example, 8Dio Productions uses ":" too much.

I successfully solved all issues by integrating your code into my Xposed module which have it's own download service (OkHttp). I also changed Xposed p

[2017-07-24 08:03] skyguy126 commented on #5
Is your modified code on GitHub, would love to see what you changed to fix it and how I can incorporate it into the standalone Xposed build.

[2017-07-24 11:21] daimoniuma commented on #5
I didn't modify your code in fact. I just got entry-points from your code, then it was written on my own. I also hooked other methods for "setupMenu", because I introduced option for size showing inline download button but "track" isn't loaded at "setupMenu", for example...
[code]
It can help you with https://soundcloud.com/8dawn/8dio-free-you-cloud-collaborationblack-sands-by-lex-dumitru

Downloa

[2017-07-24 16:32] skyguy126 commented on #5
Ok, think I figured out the issue with https you were originally having (finally got a build environment setup):

`String url = (String) XposedHelpers.callMethod(urlBuilder, "buildHttpsStreamUrl", new Class[]{XposedHelpers.findClass("com.soundcloud.android.model.Urn", lpparam.classLoader)}, urn);`

That is the line of code that retrieves the stream url for downloading purposes. Here we specificall

[2017-07-24 16:32] #5 closed

[2017-07-24 16:40] skyguy126 commented on #7
@KunalGupta996 @rafirafirafi Possible fix with 163e5c4f84207185de3bb43b4cf280632b94ee0d.

[2017-07-25 03:52] daimoniuma commented on #5
"buildHttpStreamUrl" method returns "https" link too. It also will lead to the issue on some devices.

[2017-08-07 23:44] rafirafirafi commented on #7
i have android 7 now :(

[2017-08-08 05:15] #7 closed

[2017-09-08 09:00] bonebizz21 commented on #4
I need help getting my songs back from Spotify o. Too as card

[2017-09-08 16:00] skyguy126 commented on #4
@bonebizz21 Off topic. No relation to this module.

[2017-10-04 14:04] wishyu opened #8 "Won't download"
When pressing the download, nothing happens.
Here's the xposed log
Oct 4, 2017 1:50:51 PM UTC
Loading Xposed v54 (for Zygote)...
Running ROM '16.0.B.2.16' with fingerprint 'Sony/C2305/C2305:4.2.2/16.0.B.2.16/eng.administrator.1403963097:user/release-keys'
Loading modules from /data/app/com.skyguy126.soundclouddownloader-1.apk
  Loading class com.skyguy126.soundclouddownloader.XposedMod
[SoundCloud

[2017-10-04 18:50] skyguy126 commented on #8
Looks like there has been a sound-cloud update, I will look into the new hooks soon.

[2017-10-04 20:40] skyguy126 commented on #8
Nevermind, download seems to be working fine for me. Are you sure you are using the latest version of scd?

[2017-10-05 09:12] wishyu commented on #8
Using scd version 1.2
And SoundCloud version 2017.09.14-release

[2017-10-05 16:37] skyguy126 commented on #8
Not too sure why this is happening, I am also on the same versions and my download option works fine. From which menu are you pressing download, as in the track page, or from the liked tracks list view, or where exactly?

[2017-10-05 23:22] wishyu commented on #8
Using the Now Playing

[2017-10-06 00:39] skyguy126 commented on #8
What android version are you on?

[2017-10-06 09:09] wishyu commented on #8
Android Jelly bean 4.2.2

[2017-10-06 16:18] skyguy126 commented on #8
I am not sure if the SoundCloud app has a different model for playing songs on jelly bean and I will have to look into that. Not too sure what can be done.

[2017-11-27 20:49] mistrparas commented on #8
nothing works by clicking download button....why....???
sound cloud app version - 2017.11.14
scd version- 1.2
device - yureka plus (yu5510a)
android- 4.4.4

[2017-11-27 20:59] skyguy126 commented on #8
@mistrparas Soundcloud seems to operate in a different format for older Android versions, I don't have a way to test and fix the issue as none of my devices are running android 4.

[2017-12-18 04:07] fortifiedSteelBoot opened #9 "Not working after latest update 1.3 [GS8]"
Hello im on Galaxy S8 running Xposed 88.2, previous version of this worked fine downloaded perfectly once I updated the option to Download still appeared but when I go to press it nothing happens already tryed reinstalling.

[2017-12-18 04:28] skyguy126 commented on #9
@fortifiedSteelBoot can you post your xposed log here after running soundcloud.

[2017-12-18 06:28] hivinau commented on #9
Hello, same issue for me. I'm on Android 4.3.
The xposed log according to your app :
SoundCloud Downloader] Entry
[SoundCloud Downloader] Error: com.soundcloud.android.tracks.TrackItemMenuPresenter#createAndShowMenu(android.view.View)#exact

[2017-12-18 06:41] skyguy126 commented on #9
@hivinau What version is your Soundcloud app. 1.3 is for version 2017.12.14.

[2017-12-18 08:12] hivinau commented on #9
Oh, good. I'm using version 2017.11.30-release. I'll update on version you specify and keep you posted

[2017-12-18 08:14] skyguy126 commented on #9
@hivinau thank you!

[2017-12-18 08:29] hivinau commented on #9
I test on version 2017.12.14-beta, it's actually working great ! Thank you !

[2017-12-18 21:30] #9 closed

[2017-12-19 01:54] fortifiedSteelBoot commented on #9
My apoligies, did not know I was supposed to be on 2017.12.14 , im now running it perfectly fine thanks.

[2017-12-19 02:02] skyguy126 commented on #9
@fortifiedSteelBoot No worries! I should have indicated the version number in the release notes.

[2018-01-07 20:48] Shpuntzik opened #10 "Can't find the download button"
Hello. I can't seem to find the download button. I searched where you wrote it should be and it's just not there. I will appreciate your help!

[2018-01-08 02:19] skyguy126 commented on #10
@Shpuntzik It is the triple dot menu usually found at the bottom right on most screens. If you don't see it there might be an error. Can you paste your Android system version, and Xposed log here.

[2018-01-15 08:27] rokeno commented on #10
I can confirm. The button is no longer there.

[2018-01-16 05:04] skyguy126 commented on #10
@rokeno Can you paste your xposed log here, as well as the android system version and soundcloud app version. On my device I still see the download button which is why I am confused.

[2018-01-16 07:17] rokeno commented on #10
Ok, i did find the button, but not where I expected it to be. It's only accessible within the song itself.
What I mean, I cannot download a full playlist of songs, or if I open the playlist select each song individually. That is not possible as the "download" text is not there. It's only present if I tap the song and, down on the three white dots, I get the download option.

Is that a normal behav

[2018-01-16 07:20] skyguy126 commented on #10
@rokeno The download option shouldn't appear on entire playlists, only when pressing the menu on individual tracks, or when using the menu on the now-playing screen, it is a limitation of the current implementation. I can look into adding support for entire playlists if enough interest is shown.

[2018-01-16 08:00] rokeno commented on #10
That would be a great addition, but prior to the latest versions, i didn't have to get into the son to download it, i could just enter the playlist and click the small black dots. Now, when i click those, without entering the song, the app crashes. Might be some relation to your app, hence i cannot see the download button in this situation.

[2018-01-16 08:14] skyguy126 commented on #10
@rokeno Can you post the Xposed log at the time of the crash, system version and app version. As well as steps I would need to repeat the crash. Thanks!

[2018-01-16 08:24] rokeno commented on #10
App version: 2018.01.05-release/Flipper version 1.3.6
System version 7.0
Kernel 3.10.107-Martitos-kernel 3.0-edge
Build number SuperStock S8v2 by BugTracker

[xposed_error_20180116_102232[2].log](https://github.com/skyguy126/Xposed-SoundCloudDownloader/files/1634138/xposed_error_20180116_102232.2.log)

[2018-01-16 08:36] skyguy126 commented on #10
@rokeno I do not see any errors in the Xposed log, could you please send it after the crash occurs. (Clear it, then make the crash happen, and then paste or send here). Other issue, I do not have the latest version of the app yet, google play usually takes a few days to roll out the newest version and until I have that I won't be able to update the hooks.

[2018-01-16 08:41] rokeno commented on #10
Myeah, there is nothing in the log, i just cleared it and all i got after the crash ( i did the test earlier, too) is:
[SoundCloud Downloader] Entry
[SoundCloud Downloader] Initialized

...repeated 2 times.

This version os SC is from GooglePlay.

Update: Strange, the google play link states:
Current Version
2017.12.18-release - on the website and yet on Android Play store, 2018 is the latest vers

[2018-01-16 08:42] rokeno commented on #10
https://forum.mobilism.org/viewtopic.php?f=1332&t=2392731&hilit=soundcloud - latest.

[2018-01-16 08:47] rokeno commented on #10
I can confirm that on version 2017.12.18-release app doesn't crash, the download button is there and i can download them without reaching into the song itself. Apparently they did change the way you fetch the links from each song and contradicts with the code you have in the repository.

[2018-01-16 08:48] skyguy126 commented on #10
@rokeno Downgrading isn't mandatory as you mentioned it still works on the track page. I won't know to what extent the update broke things until I get the latest version myself, which should be in a few days or less. Strange that the Xposed log isn't reporting any errors. I'll keep you updated.

[2018-01-17 01:48] skyguy126 commented on #10
@rokeno I just received the update and preliminary testing shows the app is crashing due to SoundCloud ad away possibly. If it is that then I have no control over this issue.

[2018-01-17 01:51] skyguy126 commented on #10
@rokeno, also getting a debug trace from installer options.

[2018-01-18 23:33] skyguy126 commented on #10
Fixed with 1ac05b4e8e07964de39dd4af84cda85c340d3402

[2018-01-19 06:58] rokeno commented on #10
App still fails after going from 2017 version to the 05 Jan 2018 one, Moving to the latest google app store uupdate, still fails. Same issue, app needs to restart when choosing the dots next to the song. Going inside the song, download option is still there.

[2018-01-19 07:08] skyguy126 commented on #10
@rokeno Can you post the Xposed log after the crash occurs. Also are you on the 1.4 version for the down-loader?

[2018-01-19 07:17] rokeno commented on #10
Steps to reproduce:
1. Uninstalled 2017 version
2. Installed 01.05.2018 release
3. Tried to download, the three black dots turn grey, app stops responding and asks for restart.

Version 1.4 installed, soft reboot done prior to above steps.
![screenshot_20180119-091329](https://user-images.githubusercontent.com/10266176/35138948-863dab4c-fcf9-11e7-948c-b0f777a58969.png)
![screenshot_20180119-091055

[2018-01-19 07:26] skyguy126 commented on #10
@rokeno I'll try re-implementing the resource locators, hard-coding it seems to malfunction.

[2018-01-19 08:01] skyguy126 commented on #10
@rokeno It seems to work fine on my phone, can you upload the apk directly from your phone here. Just want to see if the resource ID's I am hard-coding match up.

[2018-01-19 08:09] skyguy126 commented on #10
@rokeno I found the problem, this module is for 01.**15**.2018 release not 01.**05**.2018 release

[2018-01-19 08:15] rokeno commented on #10
Please try this: https://1drv.ms/u/s!AgNP4DN06ZaXhY80qMtwEtZD4y_mQw
I cannot upload 30MB here.

[2018-01-19 08:18] rokeno commented on #10
Updated from Android Play Store to 2018-01-15-release, app crashes.
Xposed Logs still empty.

[2018-01-19 08:32] skyguy126 commented on #10
@rokeno The resource ID's all match up with the apk you sent me (as they should). Make sure it is 1.4, with the 1-15 release. Try reloading the Xposed logs sometimes it doesn't show up. Does the app crash as soon as you press the triple dot menu when on a list view? Confused because I cannot replicate the crash on my device.

[2018-01-19 08:36] rokeno commented on #10
Double checked, 2018.01.15-release. Flipper 1.3.6, SoundCloudDownloader to 1.4, xposed activated.
Yes.
Both 1-05 and 1-15 crash.

[2018-01-20 07:56] skyguy126 commented on #10
@rokeno Try this version, I cannot imagine why it isn't working on your device while it works on mine. Confusing indeed, because I installed the apk you uploaded on my device and the mod works fine.

This is a debug version that dynamically gets the resource id's instead of hard coding them.

[2018-01-20 07:58] skyguy126 commented on #10
@rokeno Here is the link: https://drive.google.com/open?id=1hA3yLuiEtTQkNvTiWZBfnjm26gQi0-Be

[2018-01-20 12:30] rokeno commented on #10
hey, i can tell you that this is now working.
The only thing that is odd now (might be that is in debug mode), keeps asking me where i wanna download, although the setting in the app clearly states: /sdcard/music/

[2018-01-22 18:34] skyguy126 commented on #10
@rokeno I'll fix that in another incremental version, has to do with not resetting properties. Does it work without crashing the entire app now, **v1.4 debug**?

[2018-01-23 07:42] rokeno commented on #10
Yes, it does, i no longer have issue.

[2018-01-24 07:58] skyguy126 commented on #10
Fixed with 56b4e97ecede42c57d92a495742eaf517bf5b7dd

[2018-01-24 07:58] #10 closed

[2018-01-24 17:33] rokeno commented on #10
Thanks alot!

[2018-02-01 13:09] waelchateur opened #11 "suggestion [adding cover artwork +id3 tags to the mp3 file ]"
can u please add auto id3 tags and artwork feature to ur project

[2018-02-09 09:39] skyguy126 commented on #11
this might be a delayed feature, I'm trying to find a nice library for mp3 tags.

[2018-02-09 19:08] waelchateur commented on #11
https://sites.google.com/site/eternalsandbox/myid3-for-android

[2018-02-09 19:09] waelchateur commented on #11
take a look at that maybe will help

[2018-02-09 19:10] waelchateur commented on #11
https://github.com/mpatric/mp3agic

[2018-02-09 19:28] skyguy126 commented on #11
That was the first one I tried actually. It doesn't compile in android for some reason. I think its due to how it needs java 1.8 to run.

[2018-02-09 19:36] waelchateur commented on #11
did u see this
https://github.com/hexise/jaudiotagger-android

[2018-02-10 04:38] master801 commented on #11
@skyguy126 Why do you want to avoid using Java 8? Is it for backwards-compatibility in Android?

[2018-02-10 04:44] skyguy126 commented on #11
Android only supports a small subset of features in java 8. The ones required by the library are not and this leads to compilation failure.

[2018-02-14 19:35] kgptzac opened #12 "No longer see download button"
i noticed after SoundCloud 2018.02.14 update I can no longer see the download button as before.
[xposed_error_20180214_132954.log](https://github.com/skyguy126/Xposed-SoundCloudDownloader/files/1725385/xposed_error_20180214_132954.log)

[2018-02-14 20:17] skyguy126 commented on #12
Will need to update the hooks for the new version.

[2018-02-16 23:06] gdimakis commented on #12
Same issue here!
Waiting For Update.

[2018-02-18 03:35] skyguy126 commented on #12
there seems to be pretty drastic changes to the code, looking like the module needs a rewrite

[2018-02-19 21:14] Jeffdow85 commented on #12
That sounds time consuming for you the developer. Think I'll downgrade to last version lol. Thanks for your work. Great modual!

[2018-02-19 23:37] skyguy126 commented on #12
Fixed with d85341fa8a53b4e8c92366dc3556c4bc6613cdcc.

[2018-02-19 23:37] #12 closed

[2018-02-20 11:16] gdimakis commented on #12
Fixed so soon!!!
Thank you very much!!

[2018-02-21 22:38] skyguy126 commented on #11
For some reason I can't seem to compile the jaudiotagger library, I'm getting maven build errors. Can anyone point me towards figuring out how to compile it or perhaps finding another library?

[2018-02-22 23:27] skyguy126 commented on #11
Update: Found a tagging library and everything is working well so far. Code needs to be refactored and a few things need to be stabilized still.

[2018-02-24 08:50] skyguy126 commented on #11
Added with c47bed25cee45be5b7f4346d285951f051ba0500. Will require more testing before release.

[2018-02-24 09:03] #8 closed

[2018-02-25 04:56] #11 closed

[2018-02-25 21:44] waelchateur commented on #11
Just wow 😍 well done bro its works flawlessly .... i was waiting for something like this thank you and good luck on your projects ...... thanks a lot 👌

[2018-02-25 21:45] RiadReyBouazza opened #13 "Not Working ?"
Hey bro , i have a question to ask you
i can't seem to get this module working on my Oneplus5
i'm on a stockish oxygen os rom running android nougat 7.1 rooted with magisk 14
souncloud version : 2018.02.14-release
SCD version : 1.5.1
Xposed version : 89
i download the module , turn it on , reboot , but the download button doesn't appear in any menu
please help ? i would greatly appreciate it as th

[2018-02-25 21:54] skyguy126 commented on #13
@RiadReyBouazza can you post the xposed log, open the xposed installer, click log, click reload, then copy paste the entirety of that here. Also post the version of the soundcloud app you're using.

[2018-02-25 21:56] RiadReyBouazza commented on #13
@skyguy126 log is too long , I cleared it now , what do I do to get only this specific module's part ?

[2018-02-25 22:02] RiadReyBouazza commented on #13
-----------------
Log too long
-----------------
[code]

[2018-02-25 22:04] RiadReyBouazza commented on #13
SoundCloud app version is 2018.02.14-release

[2018-02-25 22:06] skyguy126 commented on #13
@RiadReyBouazza I don't see anything regarding soundcloud in there. Clear the log, repeat the error (open soundcloud, and click the triple dot menu), then copy paste that log into a text file and upload that here. Don't clear the log after the error occurs.

[2018-02-25 22:09] RiadReyBouazza commented on #13
@skyguy126 here it is

[code]

[2018-02-25 22:16] skyguy126 commented on #13
@RiadReyBouazza I still don't see anything about scd in there. Uninstall and reinstall the module, activate and reboot, and try finding the download button again. Then paste the log here.

It should look something like this:

[code]

[2018-02-25 22:17] RiadReyBouazza commented on #13
Okey bro sorry for taking your time , be right up in 5 mins

[2018-02-25 22:27] RiadReyBouazza commented on #13
@skyguy126 okey this is embarrassing 😥😂 I'm sorry bro it was my fault , the module only needed a full reboot . Even tho I tried uninstalling n reinstalling many times my habit is to only perform soft reboots , n that's apparently why it didn't work
I'm really sorry for wasting your time kind sir
You are awesome xD rock on !
You can close this shi**y issue report :p

[2018-02-25 23:38] skyguy126 commented on #13
No problem, glad you fixed it 👍

[2018-02-25 23:38] #13 closed

[2018-02-27 13:35] abdujack opened #14 "No Download button"
Hi bro first i need to say tanx for making this nice xposed module.. but the new update is not work
I uninstalled the old version before i install the new but it's not work..
Can u help me plz !

[2018-02-27 20:35] gdimakis commented on #14
Indeed after the last soundcloud update the download option is not available.

[2018-02-28 01:15] abdujack commented on #14
So what !

[2018-02-28 03:41] skyguy126 commented on #14
Have you tried a full reboot (not soft reboot). Refer to #13. If that doesn't work please post your Xposed log here.

[2018-03-01 11:10] abdujack commented on #14
Yes i tried

java.lang.IllegalArgumentException: Cannot transfer object from class android.content.res.TypedArray to class android.content.res.XResources$XTypedArray
	at de.robv.android.xposed.XposedBridge.setObjectClass(XposedBridge.java:773)
	at de.robv.android.xposed.XposedBridge.access$6(XposedBridge.java:759)
	at de.robv.android.xposed.XposedBridge$7.afterHookedMethod(XposedBridge.java:358)

[2018-03-01 11:32] abdujack commented on #14
Update: i can see the download button using version 1.4.1 but it says download failed.
Here a log when i used the version..

[2018-03-01 12:09] abdujack commented on #14
sbi >> dual >> SignalClusterView

mNC                   : Some(com.android.systemui.statusbar.policy.NetworkController_dual@42a5c968)

mWifiVisible          : Some(true)

mWifiStrengthId       : Some(id: 2130837963 name: stat_sys_wifi_signal_2)

mMobileVisible        : Some(true)

mMobileVisible2       : Some(false)

mMobileStrengthId1    : Some(id: 2130837914 name: stat_sys_signal_4)

mMobileStre

[2018-03-02 20:14] skyguy126 commented on #14
I don't see anything regarding scd in there. The log should look something like this

[code]

Edit: Can you try and paste the log file in a text-file github seems to have a character limit.

[2018-03-03 23:28] skyguy126 commented on #14
If it's just an installation issue, try uninstalling scd, full rebooting, installing it again, enable do a full reboot again.

[2018-03-04 12:32] FahadYousafMahar opened #15 "Not downloading some tracks"
I am new to modding and i recently installed this downloader .
It's great and i thank you for making our lives a lot easier. It's working great on most tracks. But there are some tracks on which download button is not working (Pressing the button does nothing ).
I don't know if there is a premium policy of SoundCloud that blocks downloads or what it is. But it's strange that it works on most track

[2018-03-04 12:40] FahadYousafMahar commented on #15
I am using samaung j510f with xposed v87.1 Marshmallow 6.0.1 and scd 1.5.1 with soundcloud 14.2.18 release and my logs are empty.

[2018-03-04 18:36] skyguy126 commented on #15
There's been an update it seems, hooks need to be updated again.

[2018-03-04 19:34] FahadYousafMahar commented on #15
Thanks for looking into it.

[2018-03-05 10:16] waelchateur commented on #15
Download button disspear :
Xposed  (10385): [SoundCloud Downloader] Module entry, version 1.5.1
03-05 11:06:56.697 I/Xposed  (10385): [SoundCloud Downloader] Error: emx(avf,bkv)#exact
(Soundcloud 26/02/2018 realease)

[2018-03-05 20:51] abdujack commented on #14
Okay.. I tried and did not succeed, I think the issue is in my phone..
Although other modules work well.

[2018-03-05 20:53] skyguy126 commented on #14
Refer to #15; there has been an update and module hooks need to be updated. What version of soundcloud are you running?

[2018-03-05 20:54] abdujack commented on #14
My phone is Samsung galaxy J1ace SM-J110H Android Kitkat 4.4.4

[2018-03-05 20:55] abdujack commented on #14
Soundcloud 2017.12.18

[2018-03-05 20:59] skyguy126 commented on #14
This module is for version **2018.02.14**. I'm not sure if an earlier version will work with your current version, maybe try looking around in the releases section. Adding backwards compatibility would make the module take much longer to update unfortunately. Sorry

[2018-03-05 20:59] #14 closed

[2018-03-05 21:02] abdujack commented on #14
I'll try use version 2018.02.14
Thank you anyway 💛

[2018-03-08 08:17] skyguy126 commented on #15
Fixed with 4f1c4a2928719f9e1dc596b8df2dc2061562dd2c

[2018-03-08 08:17] #15 closed

[2018-03-09 06:40] survive9 opened #16 "Download feature does nothing"
Running Magisk 16 + Systemless Xposed on G920T with Lineage OS 14.1 latest nightly as of this writing. The download button shows up in the 02.26.18 version of soundcloud, but when clicking it no prompt shows up in the status bar that the song is being downloaded. Sure enough, nothing is downloaded to the music folder. Tried reinstalling both the xposed module and the app.

[2018-03-09 08:53] skyguy126 commented on #16
Can you post the Xposed log here after the track gets downloaded.

[2018-03-09 14:56] survive9 commented on #16
[xposed_error_20180309_095459.log](https://github.com/skyguy126/Xposed-SoundCloudDownloader/files/1797305/xposed_error_20180309_095459.log)

This is what I get after attempting to download

[2018-03-09 17:58] skyguy126 commented on #16
thanks, I think I know what the issue is. Can you download other tracks without issue or does this happen for every track?

[2018-03-09 18:03] survive9 commented on #16
After testing by trying to download random songs, it seems to work for most of the songs on soundcloud except for the ones I actually want to download lol.

[2018-03-09 18:08] survive9 commented on #16
After trying to download more I have ran into a few more songs that didn't download. It seems most of them download but a few do not. Maybe different audio format that isn't recognized by the downloader?

[2018-03-09 18:17] skyguy126 commented on #16
its because the songs you are trying to download are probably missing a genre/album art and the module is trying to find them when they don't exist. will fix in a new update soon.

[2018-03-09 18:17] FahadYousafMahar commented on #16
Thanks @skyguy126

[2018-03-09 18:22] survive9 commented on #16
That's strange, the album art is on soundcloud. Must be the genre then, thanks.

[2018-03-09 18:29] skyguy126 commented on #16
Can you try and see if this debug version works? [REDACTED]

EDIT: just realized I need to change one more thing

[2018-03-09 18:32] FahadYousafMahar commented on #16
Error while installing debug package

On 9 Mar 2018 11:29 pm, "skyguy126" <notifications@github.com> wrote:

[2018-03-09 18:35] survive9 commented on #16
I know you deleted the link but the debug app still worked when used on a track that did didn't download before

[2018-03-09 18:38] skyguy126 commented on #16
ok this one _should_ work: https://www.dropbox.com/s/5dqhx9r3q0fhti2/scd-v1.5.3_debug.apk?dl=0

Let me know if it spits out any errors in the Xposed log, thanks

EDIT: you might need to reinstall the module if you tried the removed link above already since the version code is the same

[2018-03-09 18:46] survive9 commented on #16
New debug version also works, no errors in xposed log

[2018-03-09 18:46] FahadYousafMahar commented on #16
YAHOO !!!
It Works. It downloaded the tracks which were previously unTouchable.

[2018-03-09 18:51] skyguy126 commented on #16
Fixed with 57c9213ba10c094bd645ba37e4d5dbd780f3921f.

[2018-03-09 18:51] #16 closed

[2018-03-26 13:16] Lavuan opened #17 "Doesn't work with the latest ver"
update the app please, it's not working with the latest SoundCloud app,thx

[2018-03-26 20:52] skyguy126 commented on #17
Please post your xposed log, scd version, and soundcloud app version here.

[2018-03-27 00:33] skyguy126 commented on #17
Fixed with 2d41c4a0547e60e2d2b0768f164cef64deb40083.

[2018-03-27 00:33] #17 closed

[2018-04-03 13:37] Dinara293 opened #18 "Phone not going into deep sleep with the module activated"
My phone absolutely refuses to go into deep sleep with the module activated. The module works perfectly fine, but without the phone going to deep sleep, the battery is a goner. I'm on the latest march update. Please do look into this, thank you.

[2018-04-03 20:02] skyguy126 commented on #18
I'm not 100% sure what this means, or how deep sleep works but I can only think of one reason why this module might affect deep sleep and that's because I'm having to store the current activity in a static variable which probably doesn't get cleared when the app closes. I can see if theres a way around that.

[2018-04-15 05:18] naloder opened #19 "can't use in 04-06 release verison"

[2018-04-15 22:30] steezmoso commented on #19
Also having this issue.  Uninstaller and reinstalled both apps but no resolution.

[2018-04-15 23:06] skyguy126 commented on #19
The module needs to be updated to match the new method signatures (this needs to happen every time sound cloud is updated). Unfortunately, I am becoming very busy with university as I get closer to the end of the school year and I don't think I'll be able to do further work on this module at-least for the time being (few weeks-months). If anyone is willing to step up and maintain this module in co

[2018-04-17 19:14] FahadYousafMahar commented on #19
I would really like to help you in this matter. I am php developer and I have studied c++.
I am not familiar with Java.
Can I be of any use. If updating webhooks is a work which can be done without any Java experience then I am ready to do that.

[2018-04-17 19:46] skyguy126 commented on #19
@FahadYousafMahar Do you have android studio and the SDK installed. If not, go ahead and do that. I might be able to make a tutorial video or something to help you get started. Join this slack workspace and we can discuss further: https://join.slack.com/t/xposed-scd-dev/shared_invite/enQtMzQ4NDAzMTg5MjY3LWYyYTE5MGMyNTNiMDYzYzJmMzQzMDAyZWZlNjlhYWYwNjRmZTVlMGQ2MDBhOWQ1YjkxZGRiZmY2ZDQ0YmEzNmU

This g

[2018-04-18 09:31] EgyBoy1 opened #20 "Download feature doesn't work"
Greetings,

I have installed the last version of your module, but when i try to download any track it appears on notification bar but doesn't progress.

SoundCloud version on my device is 22.03.2018-release.

I hope you can help me with this, thanks at advance.

[2018-04-18 15:28] skyguy126 commented on #20
Refer to #19.

[2018-04-19 00:51] EgyBoy1 commented on #20
Thanks, good luck with your study.
 I hope i can help you, i have more time but don't have any programming experience.

[2018-04-19 01:07] skyguy126 commented on #20
thank you, I hope to get back on this project as soon as possible!

[2018-04-19 01:07] #20 closed

[2018-05-23 10:18] naloder opened #21 "Can make the module can available in vaexposed?"
(like the title)

[2018-05-23 16:12] skyguy126 commented on #21
what is that

[2018-05-25 15:35] naloder commented on #21
https://github.com/android-hacker/VirtualXposed
this

[2018-05-28 16:42] naloder commented on #21
can be supported?(´ﾟωﾟ｀)

[2018-06-21 16:40] Jhoscy opened #22 "SoundCloud Downloader not show download option"
I Just installed the Module, but the SoundCloud app don't show (after click on the three menu options of the track) the Download option. I don't now if depends for SoundCloud version, or If because I have Oreo 8.1 (OP5T), or even more serious..I'm in Italy with Italian app (I know that more features are available in other country). Thanks in Advance!

[2018-06-21 16:46] FahadYousafMahar commented on #22
it depends on sound cloud version. SCD is meant to be updated for every new
SoundCloud release but as developer is busy so there hasn't been a new one
around. Hands SCD doesn't work.
I hope someday the developer is about to share tutorials for how to update
it

On Thu, Jun 21, 2018, 9:40 PM Jhoscy <notifications@github.com> wrote:

[2018-06-21 16:49] Jhoscy commented on #22
Thank You man for immediately reply!  I understand the motivations. I'm waiting yours next steps..

[2018-06-22 05:01] skyguy126 commented on #22
I hope to be able to get back on this, not sure what the user base is like now but I'll try for the near future. working full time atm so its a bit tough

[2018-06-22 06:33] Jhoscy commented on #22
Okk man I appreciate your work and I don't know if someone pays for this, so thanks! The problem in Italy is that the SoundCloud Go (premium) is not available. You know happen to listen to music while offline, and the SoundCloud's track for the most parte aren't on Spotify ecc..so this was a middle way. Good work!!

[2018-06-23 23:50] skyguy126 commented on #19
fixed with d6391fdf00f1e0a0acc6208ac1ebb98ec2d1d009

[2018-06-23 23:50] #19 closed

[2018-06-23 23:50] skyguy126 commented on #22
fixed with d6391fdf00f1e0a0acc6208ac1ebb98ec2d1d009 :)

[2018-06-23 23:50] #22 closed

[2018-06-23 23:50] skyguy126 commented on #18
please re-open this issue if its still an issue.

[2018-06-23 23:50] #18 closed

[2018-06-23 23:51] skyguy126 commented on #21
please reopen if this is still a problem

[2018-06-23 23:51] #21 closed

[2018-06-23 23:56] Jhoscy commented on #22
Thanks so much man, It works very fine, just tested!  Respect from Italy!! 😊

[2018-06-24 04:43] naloder opened #23 "Please Add The Support Of virtualxposed"
this is code repository https://github.com/android-hacker/VirtualXposed

[2018-07-03 16:32] QuickOK opened #24 "Latest SoundCloud update - Broken"
Latest SoundCloud update appears to have broken the SoundCloud Downloader. Download button no longer appears under "three dots".

[2018-07-03 16:37] skyguy126 commented on #24
could you post the xposed log, scd version and soundcloud version.
thanks

[2018-07-03 16:50] QuickOK commented on #24
2018.07.02-release is SoundCloud version. 1.5.5 is installed Xposed module version

[2018-07-03 16:51] skyguy126 commented on #24
can you post the xposed log?

[2018-07-03 16:52] QuickOK commented on #24
Dunno how you want the log posted. Haven't done this in awhile

[2018-07-03 16:52] skyguy126 commented on #24
copy paste is fine

[2018-07-03 16:53] QuickOK commented on #24
07-03 00:59:14.718 I/Xposed  (  755): -----------------
07-03 00:59:14.718 I/Xposed  (  755): Starting Xposed version 90.2-beta3 (Systemless), compiled for SDK 27
07-03 00:59:14.718 I/Xposed  (  755): Device: Pixel 2 XL (Google), Android version 8.1.0 (SDK 27)
07-03 00:59:14.718 I/Xposed  (  755): ROM: OPM4.171019.021.E1
07-03 00:59:14.718 I/Xposed  (  755): Build fingerprint: google/taimen/taimen

[2018-07-07 23:09] ijolkowboi commented on #24
Not working for me either. There is no download button.

[2018-07-08 03:53] skyguy126 commented on #24
Yeah it needs to be updated for the new version :/. Will try sometime soon hopefully

[2018-07-08 14:57] QuickOK commented on #24
Is this something SoundCloud is trying to combat or is this something the SoundCloud changed and it just happened to break the Sound Cloud Downloader?

[2018-07-08 17:13] skyguy126 commented on #24
Hard to tell. I believe they switched over to Kotlin and all the code in the apk is generated by a tool that compiles kotlin. Every time they make a change (which happens around every 2-4 weeks) some of the variable and class names get changed which breaks scd. The code is essentially obfuscated which makes it slightly annoying but as of right now it should still be doable.

[2018-07-08 23:39] skyguy126 commented on #24
fixed with 7fde7bbdacae5ca898b026c81b70da7fa7c1f7ef :).

[2018-07-08 23:39] #24 closed

[2018-07-11 10:51] tomimarcincin opened #25 "new Soundcloud release"
again update broke downloader :(

[2018-07-11 15:39] waelchateur commented on #25
@tomimarcincin its working fine for me there is no essue

[2018-07-11 15:53] waelchateur opened #26 "Artwork essue when adding metadata"
@skyguy126 first i wanna thank you for this fabulous module and thank for keeping updating hook method.
overall the module is working fine the only thing i see is the low quality artwork  that is added to the metadata
and there is a 2nd essue that sometimes artwork not added to metadata ..
in mean time i have a solution for it i use another app that search artwork and its perfect its called automa

[2018-07-11 15:55] waelchateur commented on #26
https://greasyfork.org/en/scripts/14591-soundcloud-album-art-downloader/code
take a look @skyguy126

[2018-07-11 16:39] waelchateur commented on #26
i guess i found out why artwork always  being downloaded in low quality
in downloadcatcher.java i see that the app is injecting only 250/250px
i dont know  if this is the real cause
and i see the bitmap jpeg compressor is at 90% in metadatainjector.java
maybe you have done this to make all the processe more faster but this is a little annoying

so my suggestion is that can we get the original artw

[2018-07-11 19:12] skyguy126 commented on #26
Artwork should be added to metadata every time, can you post your Xposed log here so I can check for errors. I just set it at 250x250 and 90% because that seemed to give the best quality at the smallest file size. Adding a setting was on my todo list but never got around to it.

@stirante If you possibly have a little bit of free time could you take a look at this, otherwise its fine.

[2018-07-11 19:13] skyguy126 commented on #25
can confirm it is broken :(. They update very often now it seems. I'd suggest just using the old version till hooks get updated unfortunately.

[2018-07-12 00:23] waelchateur commented on #26
i have tryed to modify the bitmap compression ratio to 100%
0% didnt worked for me the artwork looks agly
and i changed "t250/250" by "original" so i can got the original size of the artwok
it works perfectly

this is the log you demanded :

                                                                                                                                                              

[2018-07-12 00:30] waelchateur commented on #26
i have tryed to modify the bitmap compression ratio to 100%
0% didnt worked for me the artwork looks agly
and i changed "t250/250" by "original" so i can got the original size of the artwok
it works perfectly

this is the log you demanded :

                                                                                                                                                              

[2018-07-12 00:33] waelchateur commented on #26
soudcloud version 02072018

[2018-07-12 00:34] skyguy126 commented on #26
yeah sometimes picasso fails to load, no idea why. might be a minor networking issue or something. The problem is fixed then?

[2018-07-12 00:39] waelchateur commented on #26
artwork quality yes but still sometimes the output mp3 file without any metadata

[2018-07-12 00:44] skyguy126 commented on #26
if the module cant find genre **AND** artist name **AND** album art it wont add any metadata. Only when it finds all 3 will it add metadata. When doing so sometimes it fails due to a picasso error, I'm not 100% sure why it happens either.

[2018-07-12 01:50] waelchateur commented on #26
but this is not the situation as you can see in the log all the needed info are existed genre, name and artwork in both try
but it fail on the  first one and succeded in the second
the problem is that picasso sudenly stoped and the rest of the processe stopped rather than that the developper of picasso said that picasso will retry 3 times if he fail will show an error at the end
the log didnt show

[2018-07-14 02:48] QuickOK commented on #25
I'm going to have to start using titanium backup for each SoundCloud update. To regress to the old version.

[2018-07-14 08:05] skyguy126 commented on #26
I'll make a note to log the error in the next version

[2018-07-14 08:19] skyguy126 commented on #23
Unable as we are hooking resource ID's which virtual xposed does not currently support. This is done because on some devices the ID's are sometimes different and the module crashes.

[2018-07-14 08:19] #23 closed

[2018-07-14 16:53] waelchateur commented on #25
@quickok you can get the old builds from  apkmirror no need to backup

[2018-07-14 17:03] waelchateur commented on #26
@skyguy126 thank you for your efforts
i really wich to help but this situation is out of my knowledge
anyway if this will not be fixed since this is a picasso bug
dont worry bro your module still unique and its the best of its kinde
thank you :+1:

[2018-07-14 18:30] QuickOK commented on #25
Thanks

On Sat, Jul 14, 2018, 11:53 AM Netsnake <notifications@github.com> wrote:

[2018-07-15 08:01] yourbestregard commented on #25
which version should I use?
I have tried all the versions, but nothing works. https://ibb.co/kveH48

[2018-07-15 08:02] QuickOK commented on #25
I tried regressing to the July version, but as we've found out that doesn't
work. Any ideas?

On Sun, Jul 15, 2018, 3:01 AM azmunaa <notifications@github.com> wrote:

[2018-07-15 21:06] skyguy126 commented on #25
release 2018.07.02

[2018-07-16 06:20] QuickOK commented on #25
Thanks. I should note that the current soundcloud version (whatever version
it may be) must be uninstalled first, before the previous version is
installed (which I didn't try before posting my last message). Works so
far. Thanks.

On Sun, Jul 15, 2018 at 4:06 PM, skyguy126 <notifications@github.com> wrote:

[2018-07-23 04:20] neosurat opened #27 "Error: fgb(bmw,cer)#exact"
I have installed SD module 1.5.6 on Xposed version 89 on MIUI 9 Stable rom. And it is giving "Error: fgb(bmw,cer)#exact " in Xposed log. Can anyone give solution ?

[2018-08-07 14:56] QuickOK commented on #27
I believe the hooks haven't been updated for the current version of SoundCloud. You'll need to download an older version of SoundCloud for it to work.

[2018-08-07 14:59] QuickOK commented on #27
@neosurat use apkmirror 2018.07.02 or 2018.07.12 should work

[2018-08-07 23:09] the-real-jb commented on #25
Can also use installerOps, downgrade feature

[2018-08-08 10:17] waelchateur commented on #25
@gametimebrizzle
this feature is only for system apps not for user apps only if you mange to move soundcloud to system

[2018-09-27 07:42] cleversboy opened #28 "Download unsuccessful!"
Hook OK,
Xlogs look just fine:
Entered download catcher...
...
Download path:/vvv/vvv.mp3
BUT...
when I try downloading any songs, Download manager just show up a sec then disappear then show up then disap... And finally, It shows "Download unsuccessful"
Soundcloud 2018-02-07 release

[2018-10-11 19:48] skyguy126 commented on #28
Can you post the full xposed log?

[2018-10-12 14:06] cleversboy commented on #28
10-12 21:04:18.187 I/Xposed  (10185): [SoundCloud Downloader] Entered download catcher...
10-12 21:04:18.187 I/Xposed  (10185): [SoundCloud Downloader] Track name: [ 蘭陵王妃 ] 彼岸 ~ 董貞
10-12 21:04:18.187 I/Xposed  (10185): [SoundCloud Downloader] Found genre data...
10-12 21:04:18.187 I/Xposed  (10185): [SoundCloud Downloader] Image url: https://i1.sndcdn.com/artworks-000195063863-pcxdsk-t250x250.jpg

[2018-10-12 21:37] skyguy126 commented on #28
And the file isnt there? Are you sure you're not having network issues, or anything like that. Can this issue be repliacted?

[2018-10-13 04:56] cleversboy commented on #28
Nothing being downloaded as notification show" download unsuccessful". I even disable everything I can. all other module, reboot multiple times. I can manually get soundcloud link with my computer and download with my phone.

[2018-10-13 22:41] skyguy126 commented on #28
What version of soundcloud and scd are you running?

[2018-10-14 08:05] cleversboy commented on #28
...

[2018-10-15 08:25] skyguy126 commented on #25
fixed with db356f9bf65dc7b7194a79374edf5bda6bb786c3

[2018-10-15 08:25] skyguy126 commented on #26
Updated SCD with db356f9bf65dc7b7194a79374edf5bda6bb786c3. Enabled Picasso logs. Please re-open this issue if you are still having issues.

[2018-10-15 08:26] skyguy126 commented on #27
fixed with db356f9bf65dc7b7194a79374edf5bda6bb786c3.

[2018-10-15 08:26] skyguy126 commented on #28
Fixed with db356f9bf65dc7b7194a79374edf5bda6bb786c3. Please re-open this issue if you are still having issues.

[2018-10-15 11:00] cleversboy commented on #28
10-15 17:52:52.801 I/Xposed  ( 9515): [SoundCloud Downloader] Entered download catcher...
10-15 17:52:52.801 I/Xposed  ( 9515): [SoundCloud Downloader] Track name: Rocket Girls (火箭少女101) - Light
10-15 17:52:52.811 I/Xposed  ( 9515): [SoundCloud Downloader] Found genre data...
10-15 17:52:52.811 I/Xposed  ( 9515): [SoundCloud Downloader] Image url: https://i1.sndcdn.com/artworks-000419000433-9jba5v

[2018-10-15 17:49] skyguy126 commented on #28
You have to enable storage permissions for the Soundcloud app. Also this app is mainly supported for SDK 23+ (Android Marshmallow+) so that may cause issues as well.

I implemented a permissions hack in the latest version which is only meant for Android 6.0+. If you are experiencing issues on a lower Android version, you might want to roll back SCD and Soundcloud for the time being.

[2018-10-17 20:59] cleversboy commented on #28
I try to add these to SoundCloud manifest:
`
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
`
`
<uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
`
And agian, log shows file downloading but Download manger keep failing.

[2018-10-17 21:57] skyguy126 commented on #28
How did you add them? What android version are you running. If Android 6+ then the module will automatically inject those permissions at runtime.

[2018-10-17 22:25] cleversboy commented on #28
I use apktool (decompile, recompile)
Android 5.0.2

[2018-10-17 22:28] cleversboy commented on #28
Can you make an option to get song's link or choosing other 'downloader' apps?

[2018-10-17 23:32] skyguy126 commented on #28
What I can do is just spit the link out in the Xposed Log. I don't think I'll add a feature to choose other apps because it'll be too hard to maintain with updates. The module has a lot of code as is and its getting a bit annoying to reverse engineer the code with every update.

[2018-10-23 09:21] juppin opened #29 "Please update hooks for new 2018.10.09-release"
As the title says, hooks doesn't work for latest release...
Please update hooks or probably tell me how to determine the hooks for the new release.

Many thanks for your work

[2018-10-26 04:22] gugucarv commented on #10
My SoundCloud release is 2018.10.9

Downloads do not appear for me

[2018-10-26 05:34] skyguy126 commented on #10
Known issue - unfortunately I don't have much free time in foresight. I'd recommend rolling back your soundcloud version and disabling automatic updates :/

[2018-10-26 05:35] skyguy126 commented on #29
You can try and look through the module code, I commented wherever there was a hook that will need to be updated with each new version. As I said in another thread, I don't see myself having much free time in the coming weeks.... I'd recommend rolling back your soundcloud apk until I get a chance to work on this module again. :/

[2018-10-26 13:37] gugucarv commented on #10
Hi. Installed 2018.09.25 release and now it's working. Ty

[2018-10-31 09:03] wallacescott1 opened #30 "Support"
First of all thanks for the mod, 2nd is that i'm facing a problem, the download options is not appearing at all, i am using a S7 Edge with oreo, Xposed module in MagiskSU in the latest released version. The SoundCloud app is in version 2018.10.09-release but i tried 2018.07.30 version as well, the module is at the latest version and i did tried one update back too. Hope u are still working in this

[2018-10-31 09:05] wallacescott1 commented on #30
Forgot to say that i did deactivated all the other Xposed modules too but to no avail.

[2018-10-31 09:06] juppin commented on #30
You need the version 2018.09.25 of SoundCloud as the hooks only work for this specific version because all classes are obfuscated and thats why every build has other method names.

https://www.apkmirror.com/apk/soundcloud/soundcloud-soundcloud/soundcloud-soundcloud-2018-09-25-release-release/

[2018-10-31 16:45] wallacescott1 commented on #30
Great, i noticed that, in update description it says "updated Hooks for release xxxxx" i downloaded the correct version, now it's working perfectly, thanks dude.

[2018-10-31 19:52] #30 closed

[2018-12-01 08:16] HeyItsJono opened #32 "TaiChi +/- VirtualXposed Support"
Would you consider adding support for [TaiChi](https://github.com/tiann/EXposed/releases/tag/3.4.1) or [VirtualXposed](https://github.com/android-hacker/VirtualXposed/releases/tag/0.16.1) please :blush: This would allow compatability with Android 9 (Pie), and support's being adopted by modules like XInsta and SnapFreedom!

[2018-12-09 00:16] skyguy126 commented on #32
It seems like resource hooks are not supported by VirtualXposed so I'm not sure if it will be possible. Will need to do more research though.

[2018-12-11 09:21] HeyItsJono commented on #32
Thanks so much for looking into it!

[2018-12-24 19:52] skyguy126 commented on #29
Working on hooks for the new release and ran into a few issues. The Xposed beta builds are also a bit unstable (to be expected) so putting current progress on hold for right now. If users are interested then I can release a beta build for scd that has the bare minimum working.

[2019-01-05 22:53] qho3inp commented on #29
hello sir
plz update the module
cuz new version have the quality option we really need that
thank u

[2019-01-08 05:53] peterkor commented on #10
it would be great to have a possibility to download whole playlist by one button :)

[2019-02-11 08:37] darkirony opened #33 "Permission Error"
SC 2018-09-25 // SC Downloader 1.5.7

Reinstalled the downloader on Android Pie. First it worked flawlessly, then i changed something. Now i always get a popup

"Permission Error: Grant Permissions in the next dialog and retry download."

First time after installing soundcloud asks for storage Permissions, which i grant. The popup is still happening after granting rights. Can't seem to make it run

[2019-02-11 22:47] skyguy126 commented on #33
What did you change? This module is pretty outdated, and I haven't been able to maintain it for a while now. Expect for it to have bugs, I can't seem to find the time to keep it updated any longer unfortunately :(.

[2019-03-06 18:19] Ivy-Mike commented on #33
Have the same problem. Any solution?
I've noticed that when the prompt shows up you can't toggle the "don't ask me again" thing and then click apply

[2019-03-18 21:41] KeetsScrimalittle opened #34 "Download button not available in SoundCloud"
I haven't seen the download option in SoundCloud for a while now.  On the latest version of SC downloader.

03-18 16:31:35.090 I/Xposed  ( 6184): [SoundCloud Downloader] Module Entry, SCD Version: 1.5.7
03-18 16:31:35.110 I/Xposed  ( 6184): [SoundCloud Downloader] Error: fnf(bot,che)#exact
03-18 16:33:01.052 I/Xposed  ( 7939): [SoundCloud Downloader] Module Entry, SCD Version: 1.5.7
03-18 16:33:01